# deps
node_modules/
.pnpm-store/

# builds
.next/
dist/
build/
out/
.medusa/
*.tsbuildinfo
next-env.d.ts

# env & secrets
.env
.env.*
!.env.example
!.env.docker.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# prisma
packages/cms/prisma/*.db

# misc
coverage/
.turbo/
